/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  box-sizing: border-box;
}

.app {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 20px;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  padding-top: 10px;
}

.high-score {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin: 10px 0;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  h1 {
      font-size: 1.5em;
  }

  .app {
      margin: 10px;
  }
}
